@model OnlineMovieStore.Web.Models.UserMoviesViewModel

@{
    ViewData["Title"] = "My Movies";
}

<div class="breadcrumbs">
    <a href="/Home/Index">Home</a>
    <span>My Movies</span>
</div>

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row">
    @{ foreach (var movie in Model.content)
        {
            <div class="col-sm-3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="@movie.Image" alt="Avatar" style="width:240px;height:360px;">
                        </div>
                        <div class="flip-card-back">
                            <h3>@movie.Title</h3>
                            <p><strong>Genre</strong></p>
                            @foreach (var genre in movie.Genre)
                            {
                                var genreName = genre.Genre.Name;
                                if (string.IsNullOrWhiteSpace(genreName))
                                {
                                    <p>Unknown</p>
                                }
                                else
                                {
                                    <p>@genre.Genre.Name</p>
                                }

                            }
                            <p><strong>Year</strong></p>
                            <p>@movie.Year</p>
                            <p><strong>Film Star</strong></p>
                            <p>@movie.ActorName</p>
                        </div>
                    </div>
                </div>
            </div>

        }
    }
</div>