@model AdminIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var previousDisabled = Model.Page == 1 ? "disabled" : string.Empty;
    var nextDisabled = Model.Page == Model.TotalPages ? "disabled" : string.Empty;
}

<h1 align="center">Admin Panel</h1>

<div class="row">
    <div class="col-md-3">
        <input type="button" class="form-control" value="Movies" onclick="location.href='@Url.Action("Movies", "ManageMovies")'" />
    </div>
    <div class="col-md-3">
        <input type="button" class="form-control" value="Users" onclick="location.href='@Url.Action("Users", "ManageUsers")'" />
    </div>
    <div class="col-md-3">
        <input type="button" class="form-control" value="Actors" onclick="location.href='@Url.Action("Actors", "ManageActors")'" />
    </div>
    <div class="col-md-3">
        <input type="button" class="form-control" value="Genres" onclick="location.href='@Url.Action("Genres", "ManageGenres")'" />
    </div>
</div>

<br />

<h2 align="center">Sales</h2>

<div class="row">
    <form>
        <div class="col-md-6">
            <input asp-for="SearchText" class="form-control" placeholder="Search by username..." />
        </div>
        <div class="col-md-2">
            <input type="submit" class="form-control" value="Search" />
        </div>
    </form>
</div>

<br />

<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>User</th>
            <th>Movie</th>
            <th>Payed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.User.UserName</td>
                <td>@order.Movie.Title</td>
                <td>$@order.Movie.Price</td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example" align="center">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link @previousDisabled" href="/administration?searchtext=@Model.SearchText&page=@Model.PreviousPage" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item"><a class="page-link" href="/administration?searchtext=@Model.SearchText&page=@i">@i</a></li>
        }
        <li class="page-item">
            <a class="page-link @nextDisabled" href="/administration?searchtext=@Model.SearchText&page=@Model.NextPage" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>


