@model ActorsViewModel
@{
    ViewData["Title"] = "Actors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var previousDisabled = Model.Page == 1 ? "disabled" : string.Empty;
    var nextDisabled = Model.Page == Model.TotalPages ? "disabled" : string.Empty;
}

<h2 align="center">Actors</h2>

<div class="row pull-right col-md-2">
    <input type="button" class="form-control" value="Add Actor" onclick="location.href='@Url.Action("AddActor", "ManageActors")'" />
</div>

<div class="row">
    <form>
        <div class="col-md-6">
            <input asp-for="SearchText" class="form-control" placeholder="Search..." />
        </div>
        <div class="col-md-2">
            <input type="submit" class="form-control" value="Search" />
        </div>
    </form>
</div>

<br />

<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Actors)
        {
            <tr>
                <td>@movie.FirstName</td>
                <td>@movie.LastName</td>
                <td>@movie.Age</td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example" align="center">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link @previousDisabled" href="/administration/ManageActors/Actors?searchtext=@Model.SearchText&page=@Model.PreviousPage" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item"><a class="page-link" href="/administration/ManageActors/Actors?searchtext=@Model.SearchText&page=@i">@i</a></li>
        }
        <li class="page-item">
            <a class="page-link @nextDisabled" href="/administration/ManageActors/Actors?searchtext=@Model.SearchText&page=@Model.NextPage" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>