@model AllMoviesViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="page">
    <div class="row">
        <div class="col-md-9">
            <div class="slider">
                <ul class="slides">
                    @{var movies = Model.Movies.ToList();}

                    @for (int i = 0; i < 3; i++)
                    {
                        <li>
                            <div class="item">
                                <a asp-controller="Movies" asp-action="Details" asp-route-title="@movies[i].Title"><img src="@movies[i].Image" alt="Visual Studio" style="max-height: 500px;overflow: hidden;" ; class="img-responsive" /></a>
                                <div class="carousel-caption" role="option">

                                    <!-- <a class="btn btn-default" asp-controller="Movies" asp-action="Details" asp-route-title="@movies[i].Title">
                                        Movie Details
                                    </a>-->
                                </div>
                            </div>
                        </li>

                    }
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div class="latest-movie">
                        <a asp-controller="Movies" asp-action="Details" asp-route-title="@movies[3].Title"><img src="@movies[3].Image" style="height:235px" alt="Movie 4"></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-12">
                    <div class="latest-movie">
                        <a asp-controller="Movies" asp-action="Details" asp-route-title="@movies[4].Title"><img src="@movies[4].Image" style="height:235px" alt="Movie 5"></a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .row -->
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="latest-movie">
                <a asp-controller="Movies" asp-action="Details" asp-route-title="@movies[5].Title"><img src="@movies[5].Image" style="height:350px" alt="Movie 6"></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="latest-movie">
                <a asp-controller="Movies" asp-action="Details" asp-route-title="@movies[6].Title"><img src="@movies[6].Image" style="height:350px" alt="Movie 7"></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="latest-movie">
                <a asp-controller="Movies" asp-action="Details" asp-route-title="@movies[7].Title"><img src="@movies[7].Image" style="height:350px" alt="Movie 8"></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="latest-movie">
                <a asp-controller="Movies" asp-action="Details" asp-route-title="@movies[8].Title"><img src="@movies[8].Image" style="height:350px" alt="Movie 9"></a>
            </div>
        </div>
    </div> <!-- .row -->

    <div class="row">
        <div class="col-md-4">
            <h2 class="section-title">December premiere</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <ul class="movie-schedule">
                <li>
                    <div class="date">16/12</div>
                    <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                    <div class="date">16/12</div>
                    <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                    <div class="date">16/12</div>
                    <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                    <div class="date">16/12</div>
                    <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
            </ul> <!-- .movie-schedule -->
        </div>
        <div class="col-md-4">
            <h2 class="section-title">November premiere</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <ul class="movie-schedule">
                <li>
                    <div class="date">16/12</div>
                    <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                    <div class="date">16/12</div>
                    <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                    <div class="date">16/12</div>
                    <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                    <div class="date">16/12</div>
                    <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
            </ul> <!-- .movie-schedule -->
        </div>
        <div class="col-md-4">
            <h2 class="section-title">October premiere</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <ul class="movie-schedule">
                <li>
                    <div class="date">16/12</div>
                    <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                    <div class="date">16/12</div>
                    <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                    <div class="date">16/12</div>
                    <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                    <div class="date">16/12</div>
                    <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
            </ul> <!-- .movie-schedule -->
        </div>
    </div>
</div>

@*<div>
        @foreach (var movie in Model.Movies)
        {

            <div class="item">
                <img src="@movie.Image" alt="Visual Studio" style="max-height: 500px" ; class="img-responsive" />
                <div class="carousel-caption" role="option">

                    <a class="btn btn-default" asp-controller="Movies" asp-action="Details" asp-route-title="@movie.Title">
                        Movie Details
                    </a>
                </div>
            </div>
        }
    </div>*@