@model HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<ul class="list-group list-group-flush">
    <h2>Most popular movies </h2>

    @foreach (var movie in Model.Movies)
    {
        <li class="list-group-item">
            <p><a asp-controller="Movies" asp-action="Details" asp-route-title="@movie.Title"> @movie.Title<span>(@movie.Year)</span></a></p>
        </li>
    }


</ul>



<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="20000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        @foreach (var movie in Model.Movies)
        {
            <div class="item">
                <img src="@movie.Image" alt="Visual Studio" style="max-height: 500px";  class="img-responsive" />
                <div class="carousel-caption" role="option">

                    <a class="btn btn-default" asp-controller="Movies" asp-action="Details" asp-route-title="@movie.Title">
                        Movie Details
                    </a>
                </div>
            </div>
        }


    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
